<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.show_sql">true</property>    
       <!--  <property name="hibernate.hbm2ddl.auto">create-drop</property>   -->  
		
		<!-- HQL -->
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>  
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>    
        <property name="hibernate.connection.username">sa</property>    
        <property name="hibernate.connection.password">password</property>    
        <property name="hibernate.connection.url">jdbc:hsqldb:file:data_db/event_mgmt;shutdown=true;hsqldb.write_delay=false;</property>  
        <property name="hibernate.hbm2ddl.auto">create-drop</property>    
        
		<!-- Oracle
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.password">EVENT_MGMT</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="hibernate.connection.username">EVENT_MGMT</property>
		<property name="hibernate.default_schema">EVENT_MGMT</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle9iDialect</property>
		 -->
		<property name="hibernate.hbm2ddl.import_files">initial_data.sql</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		<mapping class="com.blacksystems.app.entity.Event" />
		<mapping class="com.blacksystems.app.entity.EventRegistration" />
		<mapping class="com.blacksystems.app.entity.Employee" />
	</session-factory>
</hibernate-configuration>
